### Custom .gitignore template
# Folders
.idea/
.vscode/
.vercel/
node_modules/
dist/
build/

# Files
.DS_Store
*.log
*.js.map
*.d.ts

# Local env files
.env
.env*

# Personal notes (not for repo)
GIT-COMMANDS.md
