<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Головна | Express Products</title>
</head>

<body>
  <h1>Express.js Products</h1>
  <nav>
    <a href="/products">Переглянути продукти</a>
    <a href="/products/new">Додати продукт</a>
  </nav>
</body>

</html>
