<div class='navigation'>
  <a href='/' class='btn'>Головна</a>
  <a href='/products' class='btn'>Продукти</a>

  <% if (isAuthenticated) { %>
    <a href='/products/new' class='btn btn-success'>Додати продукт</a>
    <div class='auth-section'>
      <% if (user.picture) { %>
        <img src='<%= user.picture %>' alt='Avatar' class='user-avatar' referrerpolicy='no-referrer' crossorigin='anonymous'>
        <% } %>
          <span class='user-name'>
            <%= user.name || user.email %>
          </span>
          <a href='/auth/profile' class='btn btn-info'>Профіль</a>
          <a href='/auth/logout' class='btn btn-danger'>Вийти</a>
    </div>
    <% } else { %>
      <a href='/auth/login' class='btn btn-primary'>Увійти</a>
      <% } %>
</div>
