<!DOCTYPE html>
<html lang='uk'>

<head>
  <%- include('../partials/head') %>
    <title>404 - Не знайдено - Express HTTP Server</title>
    <%- include('../partials/styles') %>
</head>

<body>
  <div class='container'>
    <%- include('../partials/navigation') %>

      <h1>404 - Сторінку не знайдено</h1>

      <p>Вибачте, але сторінка, яку ви шукаете, не існує.</p>

      <div>
        <a href='/' class='btn'>Повернутися на головну</a>
        <a href='/products' class='btn'>Переглянути продукти</a>
      </div>
  </div>
</body>

</html>
